.CFUserTextEncoding
.DS_Store
.Gemfile
.Trash/
.Xauthority
.bash_history
.bash_profile
.bash_profile~
.bundle/
.bundler/
.cups/
.datastudio/
.dropbox/
.eclipse/
.fontconfig/
.gem/
.git-completion.bash
.gitconfig
.gitignore.swp
.gitk
.irb_history
.lesshst
.mysql_history
.pry_history
.rbenv/
.rdebug_hist
.ssh/
.subversion/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
images/

